@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=Montserrat:wght@100&family=Poppins:wght@200&family=Space+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;

}